*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #2f2f2f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{ 
    width: 100%;
    height: 60px;
    background-color: white;
}

nav p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2f2f2f;
    font-size: 22px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2f2f2f;
    font-size: 15px;
    padding: 20px 14px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: white;
    padding: 6px;
    border-radius: 0px 0px 5px 5px;
}

nav ul li:hover ul{
    display: block;

}

nav ul li ul li  {
    width: 180px;
    border-radius: 5px;
}

nav ul li ul li a {
    padding: 8px 14px;
}

nav ul li ul li a:hover {
    background-color: #faf3c6;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: #ffee7f;
}

div {
    position: fixed;
    top: 477px;
    left: 659px;
    text-align: center;
    line-height: 38px;
}

p { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #faf3c6;
    font-size: 20px;
}